doc/xsd/dii.xsd

<?xml version="1.0"?><!--############################################################--><!--                                                            --><!--             XML Schema for ISO/IEC 21000-3                 --><!--                                                            --><!--############################################################--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"   xmlns="urn:mpeg:mpeg21:2002:01-DII-NS"  targetNamespace="urn:mpeg:mpeg21:2002:01-DII-NS"  version="0.02">  <!--#########################################      ISO/IEC 21000-3 Identifier Element      #########################################-->  <xsd:element name="Identifier" type="xsd:anyURI"/>  <!--#############################################      ISO/IEC 21000-3 Related Identifier Element      #############################################-->  <xsd:element name="RelatedIdentifier">    <xsd:complexType>      <xsd:simpleContent>        <xsd:extension base="xsd:anyURI">          <xsd:attribute name="relationshipType" type="xsd:anyURI"/>        </xsd:extension>      </xsd:simpleContent>    </xsd:complexType>  </xsd:element>  <!--#############################################      ISO/IEC 21000-3 Type Element      #############################################-->  <xsd:element name="Type" type="xsd:anyURI"/></xsd:schema>